
body{
    background-color: ivory;
}
.battery{
    width: 210px;
    height: 100px;
    border: 3px solid black;
    margin: auto;
    margin-top: 100px;
    position: relative;
    border-radius: 12px;
}

.battery::before{
    content: "3 %";
    text-align: center;
    color: crimson;
    position: absolute;
    height: 90px;
    width: 40px;
    background-color: red;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 10px;
    border-radius: 6px;
    box-shadow: 50px 0 transparent;
    animation: charging 12s infinite;
}
@keyframes charging{
    
    25%{
        box-shadow: 50px 0 yellow,
        100px 0 transparent,
        150px 0 transparent
    }
    
    50%{
        box-shadow: 50px 0 yellow,
        100px 0 yellowgreen,
        150px 0 transparent;
    }
    
    75%{
        box-shadow: 50px 0 yellow,
        100px 0 yellowgreen,
        150px 0 green;
    }
    100%{
        box-shadow: 50px 0 yellow,
        100px 0 yellowgreen,
        150px 0 green;
    }
}
